@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --light-color: #b3b3b3;
    --dark-color: #121212;
    --accent-color: #535353;
    --primary-color: #212121;
    --secondary-color: #1db954;
    --text-color: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/* ===== HELPER ===== */

.section-m1{
    margin-top: 10px;
}

.section-m2{
    margin-top: 20px;
}

.section-p1{
    padding-top: 10px;
}

.section-p2{
    padding-top: 20px;
}


/* ===== GENERAL ===== */

body{
    display: flex;
    background-color: var(--dark-color);
}

/* ===== NAVBAR START ===== */

#navbar{
    width: 50px;
    height: 100vh;
    background-color: var(--dark-color);
    display: flex;
    justify-content: center;
    transition: .5s ease;
}

.nav-icon{
    height: 8.5vh;
    display: flex;
    align-items: center;
    transition: .2s ease;
}

.nav-icon i{
    color: var(--text-color);
    cursor: pointer;
}

.nav-icon #close{
    display: none;
}

/* nav-list */

.nav-list{
    display: none;
}

.nav-extra{
    display: none;
}

/* --- NAVBAR ACTIVE --- */

#navbar.active{
    /* width: 200px; */
    width: 10%;
    height: 100vh;
    background-color: var(--dark-color);
    position: fixed;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#navbar.active .nav-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

#navbar.active #close{
    display: block;
    transition: .3s ease;
}

#navbar.active #menu{
    display: none;
    transition: .3s ease;
}

/* nav-list active */

#navbar.active .nav-list{
    display: block;
    gap: 10px;
}

#navbar.active .nav-list:last-child{
    padding-bottom: 20px;
}

#navbar.active .nav-list li{
    list-style-type: none;
}


#navbar.active .nav-list li a{
    color: var(--text-color);
    text-decoration: none;
}

/* ===== WRAPPER START ===== */
#wrapper{
    width: 100%;
    height: 100vh;
}

/* ===== HEADER START ===== */

#header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 20px 50px;
    border-radius: 20px 0 0 0 ;
    transition: .5s ease;
}

.header-search{
    padding: 5px 10px 12px 0;
    width: 100%;
    /* background-color: var(--secondary-color); */
    border-bottom: 2px solid var(--light-color);
}

.header-search i{
    color: var(--light-color);
    font-size: 1.2rem;
}

.header-search input{
    background: transparent;
    border: none;
    padding-left: 20px;
    outline: none;
    color: var(--text-color);
}

.header-search input::placeholder{
    color: var(--light-color);
    font-size: 1.2rem;
}

.header-search input:focus{
    font-size: 1.1rem;
    outline: none;
    margin: none;
    text-decoration: none;
}

.header-profile{
    display: flex;
    align-items: center;
}

/* --- HEADER ACTIVE --- */
#header.active{
    margin-left: 150px;
    width: calc(100% - 150px);
    padding-left : 80px;
    border-top-left-radius: 20px;
    /* transition: .3s ease; */
}

/* ===== MAIN START ===== */
#main{
    width: 100%;
    transition: .5s ease;
    padding: 0 50px;
    background-color: var(--primary-color);
    color: var(--text-color);
}

/* main-hero */

.main-hero{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 25vh;
    border-radius: 20px;
    padding: 20px;
    background-color: var(--secondary-color);
}

.main-hero img{
    width: 200px;
    height: 200px;
    background: url(/Music_Website/img/LeeHi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-position: center;
    border-radius: 20px;
}

/* --- MAIN ACTIVE --- */
#main.active{
    margin-left: 150px;
    padding-left : 80px;
    width: calc(100% - 150px);
    /* transition: .3s ease; */
}

/* hero-content */

.hero-content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.hero-content .content-text h3{
    font-size: 1.8rem;
    font-weight: 300;
}

.hero-content .content-text h2{
    font-size: 2.5rem;
    line-height: 3rem;
}


.hero-content button{
    padding: 15px 40px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    transition: .3 ease;
}

.hero-content button i{
    margin-right: 10px;
    transition: .3 ease;

}

.hero-content button span{
    font-weight: 600;
    transition: .3 ease;

}

.hero-content button:hover{
    background-color: var(--dark-color);
    color: var(--text-color);
}

/* ===== PLAYLIST START ===== */

#playlist{
    width: 100%;
    height: 61vh;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 30px 50px 0 50px;
    transition: .5s ease;
}

#playlist.active{
    height: 67vh;
}

/* playlist-header */

.playlist-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.playlist-header h3{
    font-size: 2rem;
}

.playlist-header h2{
    font-weight: 300;
    cursor: pointer;
}

.playlist-header h2:hover{
    color: var(--secondary-color);
}

/* playlist-wrapper */

.playlist-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.playlist-wrapper .wrapper-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 25vh;
    border-radius: 20px;
    padding: 20px;
    background-color: var(--secondary-color);
    background: url(/Music_Website/img/LeeHi.jpg);
    background-position: center;
    background-size: cover;
    cursor: pointer;
}


/* --- PLAYLIST ACTIVE --- */
#playlist.active{
    margin-left: 150px;
    width: calc(100% - 150px);
    padding-left : 80px;
    transition: .5s ease-in-out all;
}

#playlist.active .wrapper-card{
    margin-top: 20px;
}



/* ===== ASIDE START ===== */

#aside{
    width: 25%;
    background-color: var(--accent-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: sticky;
    right: 0;
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.1);
}

/* ASIDE PROFILE */

.aside-profile{
    display: flex;
    width: 100%;
    height: 8.5vh;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--primary-color);
    padding: 0 20px;
}

.aside-profile h2{
    margin-right: 20px;
    cursor: pointer;
    color: var(--text-color)
}

.aside-profile h2:hover{
    color: var(--secondary-color);
}

.aside-profile img{
    border-radius: 50%;   
    cursor: pointer;
}

/* ASIDE LIST */

.aside-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5vh;
    padding: 0 20px;
    color: var(--text-color);
}

.aside-list span{
    cursor: pointer;
}

.aside-list span:hover{
    color: var(--secondary-color);
}

/* ASIDE ITEM */

.aside-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    padding: 0 20px;
    background-color: var(--primary-color);
    color: var(--text-color);
    cursor: pointer;
}

.aside-item .item-content{
    display: flex;
    width: 100%;
    line-height: 1.4rem;
    padding-left: 15px;
    justify-content: flex-start;
    flex-direction: column;
}

.aside-item:hover{
    background-color: var(--light-color);
    color: var(--primary-color);
}

.aside-item img{
    border-radius: 20px;
}

.aside-item .item-content h4{
    font-size: 1.1rem;
}

.aside-item .item-content span{
    font-size: .8rem;
}

.aside-item .item-count span{
    font-weight: 600;
}

/* ===== FOOTER START ===== */

#footer{
    transition: .5s ease-in-out all;
    width: calc(100% - 39px);
    height: 6.5vh;
    background-color:  var(--light-color);
    position: fixed;
    bottom: 0;
    display: flex;
    padding: 0 50px;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    cursor: pointer;
}

/* footer-desc */

.footer-desc{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-desc img{
    width: 50px;
    height: 50px;
    background: url(/Music_Website/img/LeeHi.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

.footer-desc .desc-text{
    display: flex;
    flex-direction: column;
    line-height: 1.2rem;
    padding-left: 10px;
    color: var(--primary-color);
}

.footer-desc .desc-text h2{
    font-size: 1.2rem;
}

.footer-desc .desc-text h3{
    font-size: .8rem;
}

/* footer-interaction */

.footer-interaction{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.footer-interaction i:first-child, .footer-interaction i:last-child{
    font-size: 1.3rem;
    cursor: pointer;
}

.footer-interaction i:first-child:hover, .footer-interaction i:last-child:hover{
    color: var(--secondary-color);
}

.footer-interaction i:nth-child(2), .footer-interaction i:nth-child(4){
    font-size: 1.8rem;
    cursor: pointer;
}

.footer-interaction i:nth-child(2):hover, .footer-interaction i:nth-child(4):hover{
    color: var(--secondary-color);
}

.footer-interaction i:nth-child(3){
    font-size: 2rem;
    cursor: pointer;
}

.footer-interaction i:nth-child(3):hover{
    color: var(--secondary-color);
}

/* footer-load */
.footer-load{
    width: 100%;
    height: 6.5vh;
    background-color: transparent;
    z-index: 2;
    position: relative;
    bottom: 0;
}

.load-bar{
    position: absolute;
    top: 0;
    width: 120%;
    height: .5vh;
    background-color: var(--secondary-color);
}

/* footer-extra */

.footer-extra{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.footer-extra i{
    cursor: pointer;
}

.footer-extra i:hover{
    color: var(--secondary-color);
}

/* --- FOOTER ACTIVE --- */

#footer.active{
    transition: .5s ease-in-out all;
    width: calc(100% - 190px);
    right: 0;
    border-bottom-left-radius: 20px;
}
