@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --bg-green: #006241;
    --bg-green-dark: #1e3932;
    --bg-green-light: #00754a;
    --bg-green-lighter : #d4e9e2;
    --yellow: #eed350;
    --light-blue: #b6cbd5;
    --coral: #d3705a;
    --teal: #005e66;
    --turquois: #4c9f87;
    --goldenro: #c89543;
    --spring-green: #c0d48b;
    --blush: #edc4c9;

    --colorWhite: #fff;
    --colorTexBlack: rgba(0, 0, 0, .87);
    --colorTextBlackSoft: rgba(0, 0, 0, .58);
    --colorGreenAccent: #00754a;

    --fs-XXL : 50px;
    --fs-XL : 24px;
    --fs-L : 19px;
    --fs-M: 16px;
    --fs-S: 14px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* ===== GENERAL ===== */

li{ 
    list-style-type: none;
}

a{
    text-decoration: none;
}


/* ===== HELPER ===== */

.section-m1{
    margin-top: 10px;
}

.section-m2{
    margin-top: 20px;
}

.section-m3{
    margin-top: 30px;
}

.section-p1{
    padding-top: 10px;
}

.section-p2{
    padding-top: 20px;
}

.pz-40{
    padding: 40px;
}

.pz-20{
    padding: 20px;
}

.py-20{
    padding-top: 20px;
}

.py-80{
    padding: 0 80px;
}

/* ===== NAVBAR =====*/

#navbar{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
    background-color: var(--colorWhite);
    color: var(--colorTexBlack);
    font-size: var(--fs-M);
    box-shadow: 0 1px 10px rgba(0, 0, 0, .05);
}

/* nav-logo */

.nav-logo{
    display: flex;
    align-items: center;
}

.nav-logo img{
    border-radius: 50%;
}

/* nav-location */

.nav-location{
    width: 100%;
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-left: 20px;
}

.nav-location:hover{
    color: var(--colorGreenAccent);
}

.nav-location i{
    cursor: pointer;
    color: var(--colorGreenAccent);
}

.nav-location h3{
    cursor: pointer;
}

/* nav-search */

.nav-search{
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.nav-search .searchbar{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 25px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, .05);
}

.nav-search .searchbar:hover{
    background-color: rgba(0, 0, 0, .1);
}

.nav-search .searchbar i{
}

.nav-search .searchbar input{
    margin-left: 10px;
    border: none;
    background: transparent;
    outline: none;
}

.nav-search .searchbar input::placeholder{
    font-size: var(--fs-M);
    margin-left: 10px;
}


/* nav-extra */

.nav-extra{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-extra li{
    list-style-type: none;
}

.nav-extra li a{
    color: var(--colorTexBlack);
}

.nav-extra li a:hover{
    color: var(--colorGreenAccent);
}

.nav-extra .bag-wrapper{
    position: relative;
}

.nav-extra .bag-wrapper .bag-count{
    font-size: 10px;
    width: 15px;
    height: 15px;
    background-color: var(--colorGreenAccent);
    border-radius: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute;
    top: -5px;
    right: -10px;
    color: var(--colorWhite);
    font-weight: 600;
    visibility: hidden;
}

/* ===== ASIDE ===== */

#aside{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    right: -100%;
    width: 420px;
    height: 100%;
    overflow: scroll;
    background-color: var(--bg-green);
    z-index: 999;
    border-radius: 20px 0 0 20px;
    overflow-x: hidden;
    /* transition: .5s ease-in-out; */
}

#aside.active{
    right: 0;
}

.aside-close i{
    color: var(--colorWhite);
    top: 20px;
    right: 20px;
    position: absolute;
    font-size: var(--fs-L);
}

.aside-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    font-size: var(--fs-XXL);
    color: var(--colorWhite);
}

.aside-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: var(--colorWhite);
    width: 95%;
    height: 200px;
    border-radius: 20px;
}

.aside-menu-img{
    display: flex;
    width: 75%;
}

.aside-menu-img img{
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
}


.aside-menu-detail{
    display: flex;
    margin-left: 20px;
    width: 100%;
    height: 100%;
    flex-direction: column; 
    align-items: flex-start;
    text-align: left;
    justify-content: space-between;  
    gap: .5rem;
}

.aside-menu-detail h1{
    font-size: var(--fs-L);
    font-weight: 700;
    overflow: hidden;
}

.aside-menu-detail h2{
    font-size: var(--fs-L);
    font-weight: 600;
}

.aside-menu-detail p{
    font-size: var(--fs-S);
    font-weight: 400;
    margin-bottom: 5px;
}

.aside-menu-detail .aside-menu-btn{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 75%;
    border-radius: 10px;
    background-color: var(--colorGreenAccent);
    color: var(--colorWhite);
}

.aside-menu-detail .aside-menu-btn .aside-menu-count{
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid var(--colorWhite);
    border-right: 2px solid var(--colorWhite);
}

.aside-menu-btn #decrement-btn, .aside-menu-btn #increment-btn {
    border: none;
    font-size: var(--fs-XL);
    background: transparent;
    color: var(--colorWhite);
    cursor: pointer;
}

.aside-menu-delete{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.aside-menu-delete i{
    font-size: var(--fs-L);
    cursor: pointer;
}

.aside-menu-delete i:hover{
    color: var(--coral);
}

.aside-total{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    padding: 10px 20px 0 20px;
    margin-top: 20px;
    border-top: 2px solid var(--colorWhite);
    color: var(--colorWhite);
}

.aside-confirm{
    display: flex;
    align-items: center;
    justify-content: center;
}

.aside-confirm button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    border-radius: 20px;
    border: none;
    font-size: var(--fs-XL);
    font-weight: 600;
    background-color: var(--colorWhite);
    color: var(--colorGreenAccent);
    transition: .3s ease;
}

.aside-confirm button:hover{
    background-color: var(--coral);
    color: var(--colorWhite);
}

/* ===== SUBNAVBAR =====*/

#subnavbar{
    width: 100%;
    display: flex;
    font-size: var(--fs-S);
    font-weight: 400;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .05);
}

/* subnav-list */

.subnav-list{
    padding: 0 80px;
    height: 6vh;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.subnav-list li{
    list-style-type: none;
}

.subnav-list li a{
    text-decoration: none;
    color: var(--colorTexBlack);
}

.subnav-list li a:hover{
    color: var(--colorGreenAccent);
}

.subnav-list li a::after{
    content: "";
    display: block;
    padding-bottom: 2px;
    border-bottom: 2px solid var(--colorGreenAccent);
    transform: scaleX(0);

}

.subnav-list li a:hover::after{
    transform: scaleX(0.5);
    transition: 0.2s linear;
}

/* ===== HERO =====*/

#hero{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-green);
    color: var(--colorWhite);
    border-radius: 15px;
}

/* hero-text */

.hero-text{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.hero-text h3{
    width: 80%;
    font-weight: 500;
    line-height: 3.5rem;
    font-size: var(--fs-XXL);
}

.hero-text p{
    font-size: var(--fs-M);
}

.hero-text button{
    display: flex;
    justify-content: center;
    width: 20%;
    padding: 10px;
    border-radius: 30px;
    outline: none;
    background: transparent;
    border: 2px solid var(--colorWhite);
    color: var(--colorWhite);
    font-size: var(--fs-M);
    font-weight: 600;
    cursor: pointer;
    transition: .3s ease;
}

.hero-text button:hover{
    color: var(--colorGreenAccent);
    background-color: var(--colorWhite);
    border: 2px solid var(--colorWhite);
}

/* hero-img */
.hero-img{
    width: 100%;
    gap: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.hero-img img{
    border-radius: 20px;
    cursor: pointer;
    transition: .3s linear;
}

.hero-img img:hover{
    transform: translateY(-10px);
}

/* ===== MENU =====*/

#menu{
    width: 100%;
    display: flex;
}

/* menu-list */

.menu-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.menu-list li a{
    color: var(--colorTexBlack);
    font-size: var(--fs-S);
    font-weight: 400;
    padding: 5px 15px;
    transition: .2s ease;
    border-radius: 20px;

}

.menu-list li a:hover{
    background-color: var(--colorGreenAccent);
    color: var(--colorWhite);
}


/* ===== MENU-PAGE =====*/

#menu-page{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

/* menu-card */

.menu-card{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

/* card-nav */

.card-nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--fs-L);
}

.card-nav h3{
    cursor: pointer;
}

.card-nav h3:hover{
    color: var(--colorGreenAccent);
}

.card-nav .nav-icon{
    display: flex;
    gap: 1rem;
}

.card-nav .nav-icon i{

}

.card-nav .nav-icon i:first-child{
    color: var(--colorTextBlackSoft);
}

.card-nav .nav-icon i:last-child{
    cursor: pointer;
}

.card-nav .nav-icon i:last-child:hover{
    color: var(--colorGreenAccent);
}

/* card-menu */

.card-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 18%;
    height: 50vh;
    background-color: var(--colorWhite);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 10px;
}

.card-menu .card-menu-img{
    display: flex;
    height: 35vh;
    background-color: rgba(0, 0, 0, .2);
    position: relative;
    border-radius: 10px;
}

.card-menu .card-menu-img img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    /* height: 100%; */
    border-radius: 10px;
    transition: .3s ease;
}

.card-menu .card-menu-img img:hover{
    transform: scale(1.05);
}


.card-menu .card-menu-img i{
    color: var(--colorWhite);
    padding: 10px;
    position: absolute;
    right: 0;
    font-size: var(--fs-XL);
    cursor: pointer;
}

.card-menu h2{
    font-size: var(--fs-L);
}

.card-menu h2:hover{
    cursor: pointer;
    color: var(--colorGreenAccent);
}

/* card-menu-price */

.menu-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-menu-price h3{
    font-size: var(--fs-L);
}

.menu-price .plus-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 5px 12px;
    border: none;
    font-size: var(--fs-L);
    font-weight: 600;
    color: var(--colorWhite);
    background-color: var(--colorTexBlack);
    cursor: pointer;
    transition: .2s linear;
}

.menu-price .plus-btn:hover{
    transform: translateY(-5px);
}

