@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color:#53a7db;   
    --secondary-color:#53a7db;
    --light-color: #bce6ff;
    --dark-color: #2d82b5;
    --black-color: #015c92;
    --accent-color: #88cdf6;
    --text-color:#ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* ===== HELPER ===== */

#navbar .nav-list li a.active{
    color: var(--accent-color);
}

.section-m1{
    margin-top: 40px;
}

.section-p1{
    padding-top: 20px;
}


/* ===== LANDING PAGE ===== */

/* NAVBAR START */

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black-color);
    color: var(--text-color);
    padding: 10px 80px;
    position: relative;
}

#navbar .nav-logo h3{
    font-size: 32px;
}

#navbar .nav-list{
    list-style-type: none;
    display: flex;
    position: relative;
}

#navbar .nav-list li{
    padding: 0 10px;
}

#navbar .nav-list li a{
    color: var(--text-color);
    text-decoration: none;
}

#navbar .nav-list li a:hover{
    /* color: var(--light-color); */
}

#navbar .nav-list li a:after{
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.15rem solid var(--text-color);
    transform: scaleX(0);
    transition: .3s ease;
}

#navbar .nav-list li a:hover:after{
    transform: scaleX(0.5);
}

#navbar .nav-extra ul{
    display: flex;
    list-style-type: none;
}

#navbar .nav-extra ul li{
    padding: 0 10px;
}

#navbar .nav-extra ul li a{
    color: var(--text-color);
}

#navbar .nav-extra ul li a:hover{
    color: var(--accent-color);
}

/* HERO START */

#hero{
    background-color: var(--primary-color);
    padding-bottom: 20px;
    height: 60vh;
    display: flex;
}

#hero .hero-content{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    padding: 0px 80px;
    justify-content: center;
    /* align-items: flex-start; */
}

#hero .hero-content h2{
    font-size: 3rem;
    line-height: 3.2rem;
    margin-bottom: 2rem;
    color: var(--text-color);
}

#hero .hero-content p{
    color: var(--text-color);
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

#hero .content-button button{
    padding: 20px 40px;
    border: none;
    outline: none;
    background-color: var(--black-color);
    color: white;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 40px;
    width: 170px;
}

#hero .content-button button:hover{
    background-color: var(--light-color);
    color: var(--black-color);
    cursor: pointer;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
}

#header .head-card{
    height: 50vh;
    width: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    border: 1px solid var(--black-color);
    padding: 0 20px;
}

#header .head-card h2{
    font-size: 2.5rem;
    line-height: 2.8rem;
    margin: 1rem 0;
}

#header .head-card p{
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

#header .head-card > button{
    display: flex;
    align-self: flex-start;
    justify-content: center;
    width: 150px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 20px;
    border: 1px solid var(--black-color);
    color: var(--text-color);
    background-color: var(--black-color);
    margin: 1rem 0;
    transition: .3s ease;
}

#header .head-card > button:hover{
    border: 1px solid var(--black-color);
    background-color: var(--text-color);
    color: var(--black-color);
}

#header .head-card img{
    width: 100%;
    height: 35vh;
    margin-bottom: 10px;
    border-radius: 20px;
}

#header .head-card span{
    font-size: 1rem;
}

#header .head-card h3{
    font-size: 1.3rem;
}


/* PAGE START */

#page{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 0 80px;
    width: 100%;
}

#page .page-content{
    display: flex;
    flex-direction: column;
}

#page .page-content .content-top{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 700px;
    margin-bottom: 20px;
}

#page .page-content .content-top h2{
    font-size: 3rem;

}


#page .page-content .content-bottom{
    display: flex;
    width: 800px;
    height: 40vh;
    /* background-color: var(--primary-color); */
    flex-wrap: wrap;
    justify-content: space-between;
}

#page .page-content .content-bottom .bottom-card{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 48%;
    height: 20vh;
    box-shadow:5px 5px 10px var(--black-color);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    /* flex-wrap: wrap; */
}

#page .page-content .content-bottom .bottom-card i{
    margin-bottom: 10px;
    font-size: 1.5rem;
}

#page .page-content .content-bottom .bottom-card h4{
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 600;
}

#page .page-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 0px 20px;
}

#page .page-image img{
    border-radius: 20px;
    width: 80%;
    height: 60vh;
}

/* CONTENT START */

#content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 80px;
}

.content-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.content-image img{
    border-radius: 20px;
}

#content .content-text{
    display: flex;
    flex-direction: column;
    width: 44%;
}

.content-text h2{
    font-size: 3rem;
    line-height: 3.4rem;
    margin-bottom: 20px;
}

.content-text p{
    margin-bottom: 25px;
}

.content-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content-text .text-card{
    display: flex;
    /* justify-content: space-between; */
    width: 48%;
    padding: 20px 30px;
    box-shadow:5px 5px 10px var(--black-color);
    border-radius: 20px;
    margin-bottom: 20px;
}

.content-text button{
    border: none;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid var(--black-color);
    color: white;
    background-color: var(--black-color);
    cursor: pointer;
    transition: .3s ease;
}

.content-text button:hover{
    background-color: var(--text-color);
    color: var(--black-color);
}


/* CARD START */

#card-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40vh;
    padding: 0 80px;
}

.card{
    width: 33%;
    height: 250px;
    border-radius: 20px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img{
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 40%;
}

.card .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 30px;
    color: var(--text-color);
}

.card .text h2{
    font-size: 2rem;
    margin-bottom: 10px;
}

.card .text p{
    margin-bottom: 10px;
}

.card .text span a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
}